.rettangolo-card{
    border: 2px solid black;
    width: 10vw;
    height: 35vh;
    
    display: flex;
    flex-direction: column;
    margin-top: 20px;
   
}

#card-image{
    width: 8vw;
    height: 18vh;
    display: flex;
   
}

#div-card{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}



p{
    text-align: center;
    position: relative;
    font-size:1rem;
    
}


.container-show-detail-button{
    display: flex;
    justify-content: right;
    
}

.show-detail-button {
    background-color: rgb(255, 183, 0);
    border-radius: 30px;
    border-style: none;
    height: 3vh;
    width: 5vw;
    position: relative;
    margin: auto;

    
    
        
    
}