#container {
    display: flex;
    align-items: center;
    flex-direction: column;
}




#card-and-dettagliprodotto-main-container{
    display: flex;
    

}

.carrello-button{
    width: 200px;
    height: 40px;
    background-color: rgb(59, 63, 168);
    color: white;
    border-radius: 5px;
    border-style: none;
    font-size: 17px;
    
}

